# Node.js 관련
node_modules/       
package-lock.json   
npm-debug.log       
yarn.lock           

# TypeScript 빌드 결과
dist/             
*.js                
*.js.map            

# Jest 테스트 결과
coverage/           

# 환경 설정 및 보안 파일
.env                
.DS_Store           
         